body {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%; 
	max-height: 100%; 
	font-family:Sans-serif;
	line-height: 1.5em;
}
		
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px; 
	overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
	background: #4267B2;
}

h1 {
	color: white;
	font-family: Sans-serif;
}
	
#logo {
	padding:10px;
}
		
main {
	position: fixed;
	top: 100px;
	left: 0px; /* Set this to the height of the header */ 
	right: 0;
	bottom: 0;
	overflow: auto; 
	background: White;
}
		
.innertube {
	margin: 15px; /* Provides padding for the content */
}
		
p {
	color: #555;
}
				
/*IE6 fix*/
* html body{
	padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
}
		
* html main{ 
	height: 100%; 
	width: 100%; 
}

.formstyle
{
 margin: auto;
 width:300px;
 background-color:white;
 height:62.5%;
 font-size:18px;
}

.adjust
{
 margin-left:56px;
}

.labels
{
 float:left;
}

.floattype
{
 float:left;
}

input[type=text],select
{
 border:1px solid #ccc;
 border-radius:5px;
 height:30px;
 font-size:15px;
 text-indent:5px;
} 

input[type=password],select
{
 border:1px solid #ccc;
 border-radius:5px;
 height:30px;
 font-size:15px;
 text-indent:5px;
} 

button
{
 font-size:15px;
 cursor:pointer;
 border-radius:5px;
 background-color:grey;
 height:30px;
 color:black;
 float:left;
}

button:hover
{
 background-color:#2D2729;
 color:white;
}

footer
{
 max-height:15%;
}
